.list_container {
	display: grid;
	gap: 2rem;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.singleMeal {
	padding: 2rem;
	background-color: var(--secondary-color);
	border-radius: 6px;
	box-shadow: 1px -1px 9px 4px rgba(0, 0, 0, 0.49);
	-webkit-box-shadow: 1px -1px 9px 4px rgba(0, 0, 0, 0.49);
	-moz-box-shadow: 1px -1px 9px 4px rgba(0, 0, 0, 0.49);
}
.pageTitle {
	margin-bottom: 2rem;
}
.mealTitle {
	margin-bottom: 1rem;
}

.pageWrapper {
	padding: 6rem 0;
}
