* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--primary-color: #3ab0ff;
	--secondary-color: #fefbf6;
	--background-color: #f9f9f9;
	--text-color: #181818;
	--text-color-light: #3f3f3f;
	--white: rgb(249, 249, 249);
	--black: rgb(8, 8, 8);
}

html {
	font-family: 'Poppins', sans-serif;
	font-size: 10px;
	color: var(--black);
	background: var(--background-color);
}

a {
	text-decoration: none;
	color: inherit;
}

/* img {
	width: 100%;
	height: 100%;
} */

button {
	font-family: 'Poppins', sans-serif;
}
